.sectionSuccesses {
  width: 100%;
  height: fit-content;
  background-image: url('../../images/piples.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px 0px;
  height: 630px;
  position: relative;
}

.titleSuccesses {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: 20px;
  text-transform: uppercase;
}

.banner {
  position: absolute;
  background: #000000CC;
  border: 3px solid #36853B;
  box-shadow: 0px 4px 4px 0px #00000040, 0px 0px 10px 0px #4FB756B2;
  padding: 30px;
  border-radius: 20px;
  bottom: 50px;
  left: 20px;
  right: 20px
}

.textBanner {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  margin-bottom: 20px;
}