.sectionStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 500px;
  background-image: url('../../images/blockStartMobile.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FFFFFF;
}

.sectionStart::before {
  content: '';
  position: static;
  width: 100%;
  height: 100%;
  background-color: #25252513;

}

.containerSectionStart {
  margin-bottom: 40px;
}

.titleSectionStart {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.textSectionStart {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: center;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}

