.footer {
  background-color: #111311;
  padding-bottom: 20px;
}

.titleFooter {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.footerLink {
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.imgFooter {
  display: block;
  margin: 0 auto;
}

